@define-color bg #1e1e1e;
@define-color fg #ffffff;
@define-color accent #8ec028;
@define-color border-color #595959;

* {
    box-shadow: none;
    text-shadow: none;

    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0px;

    font-family: "JetBrains Mono";
    font-size: 12pt;
    font-weight: bold;

    min-height: 0;

    background-color: transparent;
    background-image: none;

    transition: none;
    animation: none;
}

window {
    background-color: rgba(30, 30, 30, 0.75);
}

button {
    color: @fg;
    border: 2px solid @border-color;
    border-radius: 0px;
    margin: 20px;

    background-color: @bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus,
button:active {
    background-color: @bg;
    border: 2px solid @accent;
}

#signout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/bedtime.png"));
}

#poweroff {
    background-image: image(url("./icons/power_settings_new.png"));
}

#reboot {
    background-image: image(url("./icons/restart_alt.png"));
}
