* {
    box-shadow: none;
    text-shadow: none;

    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0px;

    font-family: "JetBrains Mono";
    font-size: 12pt;
    font-weight: bold;

    min-height: 0;

    transition: none;
    animation: none;
}

#waybar {
    background: transparent;
    color: #ffffff;
}

tooltip {
    background: #1e1e1e;
    border: 1px solid #595959;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0px 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#mpris,
#tray,
#custom-power,
#custom-media {
    padding: 0px 15px;
    background: #1e1e1e;
    color: #ffffff;
    border: 2px solid #595959;
}

#window {
    color: #8ec028;
    border-bottom: 2px solid #8ec028;
}

window#waybar.empty #window {
    background: transparent;
    border: none;
}

#workspaces {
    background: #1e1e1e;
    border-top: 2px solid #595959;
    border-left: 2px solid #595959;
    border-right: 2px solid #595959;
}

#workspaces button {
    color: #ffffff;
    border-bottom: 2px solid #595959;
}

#workspaces button.empty {
    color: rgba(255, 255, 255, 0.25);
}

#workspaces button.active {
    color: #8ec028;
    border-bottom: 2px solid #8ec028;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    color: white;
}

#clock {
    color: #8ec028;
    border-bottom: 2px solid #8ec028;
}

#battery.charging,
#battery.plugged {
    color: #8ec028;
    border-bottom: 2px solid #8ec028;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    border-color: #f53c3c;
    color: #ffffff;
    animation: blink 0.5s steps(12) infinite alternate;
}

#pulseaudio.muted {
    color: #7a7a7a;
    border-color: #595959;
}

#network.disconnected {
    background-color: #f53c3c;
    border-color: #f53c3c;
}

@keyframes blink {
    to {
        background-color: #1e1e1e;
        color: #f53c3c;
    }
}
